
<%- include('header'); -%>
    <div class="box" id="heading">
      <h1><%=listTitle %></h1>
    </div>
    <div class="box">


<% newtodoItem.forEach(function(newitem){ %>
  <form action="/delete" method="post">
    <div class="item">
      <input type="checkbox" name="checkbox" value="<%=newitem._id %>"onchange="this.form.submit();">
      <p>
        <%=newitem.itemName%>
      </p>
    </div>
    <input type="hidden" name="listN" value="<%=listTitle %>"></input >
    </form>

<%}); %>

          <form class="item" action="/" method="post">

            <input type="text" name="todoItem" value="" placeholder="New Item" autocomplete="off">
            <button type="submit" name="listName" value="<%=listTitle%>">+</button>

          </form>
    </div>
<%- include('footer'); -%>
